# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# ignore ALL files in ANY directory named temp
.vscode/

# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/